html {
  font-size: 10px; /* px значит 'пиксели': базовый шрифт будет 10 пикселей в высоту   placeholder:   */
  font-family: Noto Sans CJK JP Black;
background-color: #4169E1;
}

table 
{
	table-layout: fixed; 
	 width: auto;
	font-size: 10px;
	 text-align: center;
	color: white;
	/*border: 2px solid salmon; */
}


#content-all {
  padding: 10px;
  width: auto;
  margin-bottom: 10px; /*отступ снизу*/
}

#content {  
margin-left: 15vw;
  padding: 10px;
  width: auto;
  margin-bottom: 10px; /*отступ снизу*/
}

#header {
height: 20%;
margin:10px;
padding: 1px;
background:  #6B8E23;
}


#left {    
  float: left;
  width: 12vw;
  max-width: 200px;
  padding: 10px;
margin-bottom: 10px;
  background: #6B8E23;
}

#footer {
  clear: both;
  margin:10px;
  height: 10%;
  background: #6B8E23;
}
#butt {

height: 30px;
margin-left: 27vw;
margin:10px;
padding: 10px;

}


h1 {
 /* font-family: sans-serif;*/
  font-size: 30px;  /* высота шрифта заголовка 60  */
  text-align: center;  /* расположение заголовка по центру  */
  letter-spacing: 1px;  /* интервал между буквами  */
color: white;
} 

h2 {
color: white;
font-size: 10px;
} 

p { font-size: 20px;  /* высота основного текста 16  */
 letter-spacing: 1px;
line-height: 1.6;
 text-align: center; 
color: white;
}

a { 
  font-size: 10px;
color: white;
}

li {  /* ли это текст-список  */
  font-size: 10px;  /* высота основного текста 16  */
  color: white;
  line-height: 2;  /* интервал между строками  */
  letter-spacing: 1px;  /* интервал между буквами  */
  margin: 0px; 
  padding: 0px; 
}

ul { padding-left: 5%; }

.all {
 position: relative; /* Делает родительский элемент базой для позиционирования потомка */
   display: flex; 
  width:  100%;   
}

.h-flex-container { 
    height: 10%;
  display: flex; 
 width:  100%;   
 } 
.btns-flex-container { 
    height: 5%;
  display: flex; 
 width:  auto;   
 border: 2px solid salmon; 
border-color: #00FF7F;
 } 


.h-flex-container div { 
  display: block;   
  margin: 5px; 
  padding: 1px; 
}

.btns-flex-container div { 
  display: block;   
  margin-left: auto; 
  margin-right: auto; 
  padding: 1px; 
 border: 2px solid salmon; 
border-color: #00FF7F;
}


.h-flex-item {
height: 5%;
display:  flex;
margin-left: auto;
 margin-right: auto; 
}

.btns-flex-item {
height: 5%;
display:  flex;
margin-left: auto;
 margin-right: auto; 
}



.c-flex-container {
  display: block;   
margin-bottom: 30px; /*отступ снизу*/
}

.c-flex-container div { 
  display: flex;   
  margin: 10px; 
  padding: 1px; 
  margin-left: 10px; 

}

.c-flex-item {

float: left;
 border: 2px solid salmon; 
border-color: #00FF7F;
 width: calc((90% – 2px)/2); /* Простые арифметические операции */;
}

.btn { 
   width: 125px; 
   height: 50px; 
color: white;
   background-color: #6B8E23; 
/*  margin-left: 10px; */
   font-weight: bold; 
   border: 2 px; 
}

.pa1 {
color: white;
text-align: left;
}

.h-im {   
display: block;   
margin-left: auto;   
margin-right: auto;   
width: 80%;   
 }   

.l-im {   
display: block;   
margin-left: auto;   
margin-right: auto;   
width: 100%;   
 }   

.c-im {   
display: block;   
margin-left: auto;   
margin-right: auto;   
width: 99%;   
 }   

